%table.table
  %tr
    %th #
    %th ФИО
    %th email
    %th Вопрос
    %th Удалить
  - @consultations.each do |s|
    %tr
      %td
        %a.btn{href: "/admin/consultations/#{s.id}"}=s.id
      %td= s.client_fio
      %td= s.question
      %td= s.response_message
      %td=link_to "Удалить", admin_consultation_path(s), :method => :delete, :class => "btn btn-danger", :confirm => "Вы уверены?"



