.cont_bl.contact_box
  .span_100
    %h2.block_name Как нас найти
    %ul.contact_line
      %li
        Фактический адрес:
        %span Тихонравова ул., д.10 б
      %li
        Контактные телефоны:
        %span +7 (4922) 37-05-34
      %li
        Расписание работы:
        %span ежедневно,  9:00-19:00
      %li
        email:
        %span
          %a{:href => "mailto:medc33@mail.ru", :title => "medc33@mail.ru"} medc33@mail.ru
  .map
    %script{:charset => "utf-8", :src => "//api-maps.yandex.ru/services/constructor/1.0/js/?sid=9lcJIiyyVamNmFfwCz99ZYdlgYCbWT5l&width=100%&height=450", :type => "text/javascript"}